.app {
  text-align: center;
}

.app_header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
  

.carouselwrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel {
  width: 80%;
  display: flex;
  list-style: none;
  padding: 0;
}

.carousel-prev {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: prev;
}

.carousel-next {
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
  animation-name: next;
}

.carousel-li {
  padding-bottom: 10px;
  text-align: center;
  box-sizing: border-box;
}

.carousel-bg-img {
  background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    height: 80px;
    margin: auto;
}

.carousel-logo-img {
  position: absolute;
  top: 65%;
  left: 50px;
} 

.carousel-card-outline {
  font-size: 12px;
  letter-spacing: 0px;
  color: #EC642B;
  text-decoration: none;
}


.ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.carousel-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #111;
  box-shadow: 0px 3px 6px #CECEF7B3;
  border: 1px solid #5A569533;
  transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.carousel-button:hover {
  border: 1px solid #dedede;
}

.carousel-button:focus {
  outline: none;
  border: 1px solid #dedede;
}

.carousel-card {
  border: 1px solid #DDDCE9;
  border-radius: 16px;
  margin: var(--card-margin);
  background: var(--color-white);
}

.carousel-p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
}


/* Card image */
.carousel-card-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* Center the image */
}

/* Card text */
.carousel-card-text {
  color: #5a5695;
  font-size: 12px;
  padding: 0px 10px;
}

/* Card button */
.carousel-card-button {
  color: #ec642b;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 14px;
  text-decoration: none;
}